body {
  padding: 0px;
  margin: 0px;
  font-family: 'Orbitron', sans-serif;
  background-color: #f17a47;
  color: white;
  }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  font-size: 4.8vw;
  font-weight: 400;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.calculator {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: auto;
  width: 25%;
  color: black;
  font-size: larger;
  font-weight: 900;
  background-color: rgb(139, 119, 165);
  border: 7px solid rgb(139, 119, 165);
  border-radius: 15px;
  border-left: 10px solid rgb(94, 92, 135);
  border-bottom: 14px solid rgb(94, 92, 135);
  border-right: 5px solid rgb(94, 92, 135);
  padding-bottom: 5px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28.9%;
  margin: 2%;
  background-color: white;
  border-left: 4px solid #acafb4;
  border-right: 2px solid #acafb4;
  border-bottom: 8px solid #acafb4;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: -2px 4px 0px #1f618d;
  transition: transform 0.2s, box-shadow 0.2s;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.numbers:hover,
.machine:hover {
  box-shadow: -2px 4px 8px 0 rgba(0, 0, 0, 0.2), -4px 8px 20px 0 rgba(0, 0, 0, 0.15), 2px -4px 8px 0 rgba(0, 0, 0, 0.15);
}

.cell:hover {
  transform: translateY(-1px); /* Move the button slightly up on hover */
  border-bottom: 10px solid #acafb4; /* Adjust the shadow on hover */
  border-left: 5px solid #acafb4;
  border-right: 2px solid #acafb4;
  box-shadow: -3px 5px 0px #1f618d;
}

.cell:active {
  box-shadow: 0px 0px 0px #1f618d;
  transform: translateY(4px) translateX(-2px);
  border-bottom: 5px solid #acafb4;
  border-left: 3px solid #acafb4;
  border-right: 2px solid #acafb4;
}

.click-animation {
  box-shadow: 0px 0px 0px #1f618d;
  transform: translateY(4px) translateX(-2px);
  border-bottom: 5px solid #acafb4;
  border-left: 3px solid #acafb4;
  border-right: 2px solid #acafb4;
  transition: 0.2s;
}

.machine {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 25%;
  color: black;
  font-size: larger;
  font-weight: 900;
  background-color: rgb(139, 119, 165);
  border: 7px solid rgb(139, 119, 165);
  border-radius: 15px;
  border-left: 10px solid rgb(94, 92, 135);
  border-bottom: 14px solid rgb(94, 92, 135);
  border-right: 5px solid rgb(94, 92, 135);
  padding-bottom: 5px;
}

.screen {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px 8px;
  margin: 10px;
  border-top: 3px solid rgb(94, 92, 135);
  border-right: 2px solid rgb(94, 92, 135);
  border-radius: 10px;
  box-shadow: inset -6px 12px 6px rgba(10, 9, 72, 0.3), inset 3px -2px 3px rgba(10, 9, 72, 0.1);
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  background-color: rgb(215, 215, 215);
}

.history {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 20px;
  font-size: medium;
  color: rgb(123, 123, 123);
}

.result {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  height: 30px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
  background-color: rgb(139, 119, 165);
}

.clear {
  width: 45%;
  text-align: center;
  aspect-ratio: 2/1;
}

.delete {
  width: 45%;
  text-align: center;
  aspect-ratio: 2/1;
}

.operators {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.add,
.sub,
.multiply,
.divide {
  width: 45%;
  text-align: center;
  aspect-ratio: 2/1;
}

.equal {
  width: 94%;
  aspect-ratio: 5/1;
}

